*{
  opacity: 0;
  transform: translateY(20px); /* Зсув вниз */
  transition: opacity 1s ease, transform 1s ease; /* Анімація */
}

.visible {
  opacity: 1;
  transform: translateY(0); /* Повернення на початкове місце */
}

.container {
  display: flex;
  margin-top: 80px;
}

.left-layout {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  max-width: 650px;
}

.profile-img {
  max-width: 100%;
  width: 360px;
  height: auto;
  margin-left: 92px;
  margin-right: 38px;
}

.profile-line{
  height: 465px;
}

.right-layout {
  flex: 1;
  margin-left: 10px;
  margin-right: 136px;
  background-color: #ffffff;
}

.title-name{
  font-family: Arial Narrow, sans-serif;
  font-size: 70px;
}

.text-style1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
}

.text-style2{
  font-weight: normal;
  color: black;
}

.text-style3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: darkorange;
}

.under-title{
  font-family: Arial Narrow, sans-serif;
  letter-spacing: 16px;
  font-size: 22px;
  margin-top: -30px;
}

.about-picture{
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.bigger-icon{
  width: auto;
  height: 40px;
  margin-top: 4px;
  margin-right: 10px;
}

.section-title{
  font-family: Arial Narrow, sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.par{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}

.contact-section{
  display: flex;
}

.big-or-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-left: 110px;
  margin-right: 155px;
  font-size: 30px;
  color: darkorange;
}

.little-icon{
  width: auto;
  margin-top: 39px;
  margin-left: 100px;
  margin-right: 10px;
  height: 20px;
}

.contact-me{
  font-family: Arial Narrow, sans-serif;
  font-size: 20px;
  margin-top: 36px;
  color: black;
}

.container1{
  display: grid;
  grid-template-columns: 32% 1fr;
}

.left-layout1{
  margin-left: 100px;
  background-color: #ffffff;
}

.container-inside1{
  display: flex;
  margin-top: 66px;
}

.line-square{
  height: 550px;
  margin-left: 9px;
}

.info-section{
  margin-left: 44px;
}

.section-title-2{
  font-family: Arial Narrow, sans-serif;
  font-size: 20px;
}

.sub-paragraph{
  display: flex;
  font-weight: 800;
}

.under-sub-par{
  margin-top: -40px;
  display: flex;
}

.Name-paragraph{
  letter-spacing: 1.9px;
  margin-right: 10px;
}

.time-paragraph{
  margin-left: 0.6px;
  margin-top: 21px;
  font-size: 18px;
}

.right-layout1 {
  margin-left: 100px;
  margin-right: 130px;
  background-color: #ffffff;
}

.info-section2{
  margin-left: 44px;
}

.long-sub-title{
  display: flex;
}

.section-title-2 .sub-paragraph {
  position: relative;
}

.time2-paragraph {
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
}

.Name-paragraph2{
  margin-top: -10px;
  letter-spacing: 2px;
}

.gray-line{
  width: 100%;
  height: 20px;
  background: #f8f4f4;
  margin: 0;
}

.Header-container{
  display: flex;
  margin-top: 60px;
}

.line1{
  margin-top: 20px;
  height: 10px;
  width: 120px;
  background: #f8f4f4;
  margin-right: 14px;
}

.big-icon{
  height: 50px;
  width: auto;
}

.Section2-title{
  font-family: Arial Narrow, sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin-top: 3px;
  margin-left: 20px;
}

.line2{
  height: 10px;
  width: 420px;
  background: #f8f4f4;
  margin-top: 20px;
  margin-right: 65px;
  margin-left: 80px;
}

.big1-icon{
  margin-top: 5px;
  height: 44px;
  width: auto;
}

.line3{
  height: 10px;
  width: 245px;
  background: #f8f4f4;
  margin-top: 20px;
  margin-left: 20px;
}

.container2{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 70% 1fr;
  margin-bottom: 50px;
}

.left-layout2{
  display: flex;
}

.left-bars{
  margin-left: 130px;
  display: grid;
}

.right-bars{
  margin-left: 100px;
}

.bar {
  background-color: #c5c5c5;
  height: 13px;
  width: 0;
  margin-left: 6px;
  position: relative;
  transition: width 1s ease-in-out;
}

.bar-on-bar {
  background-color: #ff6d00;
  height: 13px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s ease-in-out;
}


.text-bar {
  display: flex;
  margin-top: 40px;
}

.font1 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-top: -8px;
}

.font {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  margin-bottom: 40px;
  text-align: center;
  white-space: pre-line;
  word-spacing: 100px;
}

.right-layout2{
  display: flex;
  margin-right: 100px;
  margin-left: -100px;
}
.text-diagram {
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
}

.font {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-top: -8px;
}

.diagram {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  background: conic-gradient(#ff6d03 0%, lightgray 0); /* Початковий стан */
  transition: background 1s ease-in-out; /* Для плавної зміни фону */
}

.diagram-on-diagram {
  margin-top: -84px;
  margin-left: 6px;
  display: flex;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  height: 78px;
  width: 78px;
  border-radius: 50%;
  background-color: white;
}

.text-diagram {
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
}

.full-diagram {
  margin-left: 10px;
}
